<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY1PrdVGHKwRp-WDM-17tgXQDD597iFrE</string>
	<key>GCM_SENDER_ID</key>
	<string>808424343220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>bismillahbisa1234</string>
	<key>STORAGE_BUCKET</key>
	<string>bismillahbisa1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808424343220:ios:9e0550bc9f4154d088f9e1</string>
</dict>
</plist>